<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DbConnFactory.DatabaseFactorySectionHandler, DbConnFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="MyConnection1" providerName="Oracle.DataAccess.Client" connectionString="Data Source=Pruebas2;User Id=mytest;Password=valerie5250;Integrated Security=no;"/>
    <add name="MyConnection2" providerName="System.Data.SqlClient" connectionString="Data Source=WIN-3VU0IUD67IK\SQLEXPRESS;Initial Catalog=Agenda;User ID=sa;Password=Flpvrgs1966;"/>
    <add name="MyConnection3" providerName="Oracle.DataAccess" connectionString="Data Source=Pruebas2;User Id=mytest;Password=valerie5250;"/>
    <add name="MyConnection4" providerName="Oracle.DataAccess" connectionString="Data Source=Pruebas3;User Id=mytest;Password=oracle;"/>
  </connectionStrings>
  
  <DatabaseFactoryConfiguration>
    <add name="Prueba1" ConnectionStringName="MyConnection1" classProvider="DbConnFactory.OracleDatabase"/>
    <add name="Prueba2" ConnectionStringName="MyConnection2" classProvider="DbConnFactory.MsSqlServerDatabase"/>
    <add name="Prueba3" ConnectionStringName="MyConnection3" classProvider="DbConnFactory.OracleOdpDatabase"/>
    <add name="Prueba4" ConnectionStringName="MyConnection4" classProvider="DbConnFactory.OracleOdpDatabase"/>
    <!--... -->
  </DatabaseFactoryConfiguration>
  <appSettings>
    <add key="defText" value="&lt;%campo1&gt; &lt;%campo2&gt;"/>

    <add key="pathSpec" value="C:\Users\garfi\OneDrive\Documentos\MyProyects\ScriptsDePruebas\CompilarPaquetes\temp_esp.sql"/>
    <add key="pathBody" value="C:\Users\garfi\OneDrive\Documentos\MyProyects\ScriptsDePruebas\CompilarPaquetes\temp_bod.sql"/>
    <add key="defOwner" value="MYTEST"/>
    <add key="defTableName" value="GE_AMBPRUEBA"/>
    <add key="defDiscFld" value="COD_ENTIDAD_N"/>
    
    <!--Home 1  
    <add key="connStr" value="user id =mytest; password=valerie5250;  data source=Pruebas2"/>
   -->
    <!--Home 2  
    <add key="connStr" value="user id =mytest; password=oracle;  data source=Pruebas3"/>
    -->
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
